body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: aqua;
    font-size: 3.5vh;
    background-color: black;
    color: white;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    margin-top: 10vh;
}
.f-main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainTodo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.todo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

button{
    border-radius: 20vw;
    height: 8vh;
    width: 6vw;
    border: none;
    /* opacity: ; */
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    background-color: rgb(199, 199, 49);
}

#input{
    border-radius: 20vw;
    padding: 0.4vw;
    height: 6vh;
    width: 30vw;
    border: none;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    margin-right: 0.4vw;
}
.delBtn{
    margin-left: 0.5vw;
}